<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <p> Type the word/s in the textbox below to check for validity.</p>
    <p> If you want to check multiple words, use spacebar as seperators</p>
</div>

<div>
    <form method="POST" action="/">
        <table>
            <tr><td>Word to check:</td><td><input type="text" name="text" /></td></tr>
            <tr><td></td><td><input type="submit" value="check" /></td></tr>
        </table>
    </form>
</div>
<div th:if="${wentThrough}">
    <span th:if="${!incorrect}">The word was correctly spelled.</span>
    <span th:if="${incorrect}">The word was incorrectly spelled.</span>
    <ul>
        <li th:each="incorrectWord : ${incorrectWords}" th:text="'Incorrect word: '+${incorrectWord}"></li>
    </ul>
</div>

</body>
</html>