<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
    <form action="/editBook" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" th:value="${book.title}">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" th:value="${book.author}">
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" id="isbn" th:value="${book.isbn}" readonly>
    <input type="submit" value="Edit book">
    </form>
</body>
</html>